.question-box{
    position: absolute;
    left: 50%;
    height: 400px;
    width: 300px;
    padding: 20px;
    transform: translate(-50%);
    background: rgb(111, 111, 111);
    box-sizing: border-box;
    box-shadow: 0px 0px 50px 0px rgba(30, 1, 83, 0.6);
    border-radius: 25px;
    margin-top: 270px;
}

.question-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

/*질문컨테이너*/
.question_container{
    /* background-color: antiquewhite; */
    height: 240px;
    width: 100%;

}
/*질문리스트*/
.question{
    background-color: rgb(74, 74, 74);
    height: 20px;
    width: 100%;
    
    font-size: 13px;
    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

/*답변리스트*/
.answer_1{
    /* background-color: rgb(132, 255, 0); */
    height: 25px;
    width: 100%; 

    display: flex;
    justify-content: space-evenly;
    margin-top: 5px;

}
.answer_2{
    /* background-color: rgb(132, 255, 0); */
    height: 25px;
    width: 100%; 

    display: flex;
    justify-content: space-evenly;
    margin-top: 5px;

}
.answer_3{
    /* background-color: rgb(132, 255, 0); */
    height: 25px;
    width: 100%; 

    display: flex;
    justify-content: space-evenly;
    margin-top: 5px;

}
.answer_4{
    /* background-color: rgb(132, 255, 0); */
    height: 30px;
    width: 100%; 
    
    display: flex;
    justify-content: space-evenly;
    margin-top: 5px;
}
.answer_4_year{
    position: relative;
    width: 90px;
    height: 30px;  

    background: #2F2853;
    border-radius: 10px;
    border: none;
    color: #fff;
    font-size: 70%;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
.answer_4_month{
    position: relative;
    width: 90px;
    height: 30px;  

    background: #2F2853;
    border-radius: 10px;
    border: none;
    color: #fff;
    font-size: 70%;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*버튼 컨테이너*/
.question_button_container{
    position: relative;
    /* background-color: aquamarine; */
    height: 45px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.question_button_container_c1{
    position: relative;
    width: 100px;
    height: 45px;  

    background: linear-gradient(135deg, #969696, #969696, #969696);
    border-radius: 10px;
    border: none;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
}

.question_button_container_c2{
    position: relative;
    width: 100px;
    height: 45px;  

    background: linear-gradient(135deg, #969696, #969696, #969696);
    border-radius: 10px;
    border: none;
    color: #fff;
    font-size: 13px;
    font-weight: bold;

    display: flex;
    align-items: center;
    justify-content: center;
}