.login-box {
    position: absolute;
    left: 50%;
    width: 500px;
    padding: 40px;
    transform: translate(-50%);
    background: rgba(78, 78, 78, 0.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(83, 1, 1, 0.6);
    border-radius: 50px;
    margin-top: 250px;
}

.login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.login-box .user-box {
    position: relative;
}

.login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}
.login-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    font-size: 12px;
}


.user-button_container{
    position: relative;
    background-color: aqua;
    height: 45px;
    display: flex;
    justify-content: space-around;
}
.user-button_container_login {
    position: relative;
    width: 180px;
    height: 45px;  
}

.user-button_container_cancel {
    position: relative;
    width: 180px;
    height: 45px;  
} 

.user-forget_container{
    position: relative;
    background-color: rgb(10, 90, 90);
    height: 20px;
    display: flex;
    justify-content: space-around;
}

.user-forget_container .search{
    background-color: #c3ff00;
    position: relative;
    width: 180px;
    height: 20px;  
}