.login-box {
    position: absolute;
    left: 50%;
    width: 500px;
    padding: 40px;
    transform: translate(-50%);
    background: rgb(111, 111, 111);
    box-sizing: border-box;
    box-shadow: 0px 0px 50px 0px rgba(30, 1, 83, 0.6);
    border-radius: 50px;
    margin-top: 250px;
}

.login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.login-box .user-box {
    position: relative;
}

.login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}
.login-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    font-size: 12px;
}


.user-button_container{
    position: relative;
    /* background-color: aqua; */
    height: 45px;
    display: flex;
    justify-content: space-around;
}
.user-button_container_login {
    position: relative;
    width: 180px;
    height: 45px;  

    background: linear-gradient(135deg, #969696, #969696, #969696);
    border-radius: 10px;
    border: none;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
}

.user-button_container_cancel {
    position: relative;
    width: 180px;
    height: 45px;  

    background: linear-gradient(135deg, #969696, #969696, #969696);
    border-radius: 10px;
    border: none;
    color: #fff;
    font-size: 13px;
    font-weight: bold;

    display: flex;
    align-items: center;
    justify-content: center;
} 

.user-forget_container{
    position: relative;
    /* background-color: rgb(10, 90, 90); */
    height: 20px;
    display: flex;
    justify-content: space-around;
}

.user-forget_container .search{
    /* background-color: #c3ff00; */
    position: relative;
    width: 180px;
    height: 20px;  
    margin-top: 5px;

    color: #f6ff00;
    font-size: 10px;
    font-weight: bold;

    display: flex;
    align-items: center;
    justify-content: center;
}

/*비밀번호 변경 비활성화*/
.user-button_container_login_2 {
    position: relative;
    width: 180px;
    height: 45px;  

    background: rgb(84, 84, 84);
    border-radius: 10px;
    border: none;
    color: #676767;
    font-size: 13px;
    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;
}