/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@---------반응형---------@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
@media (min-width: 901px) { /*175 이전*/
    .board_view_container{
        position: fixed;
        background-color: rgba(0, 0, 0, 0.793);
        backdrop-filter: blur(10px); 
        height: 100%;
        width: 100%;
        z-index: 3;
        color: white;
        margin-top: -200px;
        overflow-x:hidden;

    }

    .board_view_container_1{
        position: absolute;
        height: 95%;
        width: 100%;
        /* background-color: rgb(255, 0, 0); */
        margin-top: 20px;
    }

    /*헤더*/
    .board_view_header{
        /* background-color: rgb(236, 236, 236); */
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: space-between;
    }
    .board_view_header_container{
        position: relative;
        background-color: rgba(0, 0, 0, 0.5);
        box-shadow: 0px 0px 5px 0px rgb(71, 70, 70);
        width: 800px;
        height: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        border-radius: 15px;
        justify-content: space-between;

    }

    .board_view_header_box1{
        /* background-color: rgb(228, 83, 83); */

        width: 130px;
        height: 50px;
        display: flex;
        justify-content: center;
    }

    .board_view_header_title{
        height: 50px;
        width: 400px;
        /* background-color: rgb(54, 104, 18);  */
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        font-weight: bold;
    }
    .board_view_header_box2{
        /* background-color: rgb(228, 83, 83); */

        width: 250px;
        height: 50px;
        display: flex;
        justify-content: space-evenly;
    }

    .board_view_b1{
        position: relative;
        width: 80%;
        height: 30px;  

        background: linear-gradient(135deg, #13074b, #372978, #13074b);
        border-radius: 10px;
        border: none;
        color: #fff;
        font-size: 13px;
        font-weight: bold;

        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
        cursor: pointer;
    }
    .board_view_b1:hover{
        background: linear-gradient(135deg, #05001a, #0d0042, #05001a);
    }

    .board_view_b2{
        position: relative;
        width: 100px;
        height: 30px;  

        background: linear-gradient(135deg, #13074b, #372978, #13074b);
        border-radius: 10px;
        border: none;
        color: #fff;
        font-size: 13px;
        font-weight: bold;

        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
        cursor: pointer;
    }
    .board_view_b2:hover{
        background: linear-gradient(135deg, #05001a, #0d0042, #05001a);
    }


    .board_view_b3{
        position: relative;
        width: 100px;
        height: 30px;  

        background: linear-gradient(135deg, #13074b, #372978, #13074b);
        border-radius: 10px;
        border: none;
        color: #fff;
        font-size: 13px;
        font-weight: bold;

        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
        cursor: pointer;
        margin-left: 5px;
    }
    .board_view_b3:hover{
        background: linear-gradient(135deg, #05001a, #0d0042, #05001a);
    }
    .board_view_b4{
        /* background: linear-gradient(135deg, #13074b, #372978, #13074b); */
        height: 24px;
        width: 24px;
        margin-top: 12px;
        margin-right: 10px;
        margin-left: 5px;
        
    }
    .star{
        width: 100%;
        height: 100%;
        /* box-shadow: 0px 0px 5px 0px rgb(71, 70, 70), 0px 0px 5px 0px rgb(71, 70, 70); */
        cursor: pointer;
    }


    /*바디*/
    .board_view_body{
        background-color: rgba(0, 0, 0, 0.1);
        /* backdrop-filter: blur(1px);  */
        position: absolute;
        height: 550px;
        width: 790px;
        left: 50%;
        transform: translate(-50%);
        margin-top: 30px;

        padding: 5px;
        border-radius: 10px;

        box-shadow: 0px 0px 5px 0px rgb(71, 70, 70), 0px 0px 5px 0px rgb(71, 70, 70);
    }
    .board_view_body_1_hashtag{
        /* background-color: aqua; */
        width: 100%;
        height: 45px;
        overflow: auto;
        cursor: pointer;
    }
    .board_view_body_1_hashtag::-webkit-scrollbar {
        height: 7px;
    }
    .board_view_body_1_hashtag::-webkit-scrollbar-thumb {
        background-color: rgba(255, 255, 255, 0.152);
        border-radius: 10px;
        border: 1px solid transparent;
    }
    .board_view_body_1_hashtag::-webkit-scrollbar-track {
        border-radius: 50px;
        /* box-shadow: inset 0px 0px 5px rgb(106, 93, 93); */
    }
    .board_view_body_1_hashtag_list_container{
        /* background-color: #372978; */
        width: 1500px;
        height: 30px;
        font-size: 13px;
        font-weight: bold;
        display: flex;
        justify-content: space-evenly;
        margin-top: 4px;

    }
    .board_view_body_1_hashtag_list_container div{
        background-color: rgba(255, 255, 255, 0.072);
        height: 100%;
        width: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
    }

    .board_view_body_1_graph{
        height: 400px;
        width: 100%;
        /* background-color: rgb(0, 179, 255);  */
        margin-top: 5px;
    }
    .board_view_body_1_graph_img{
        height: 100%;
        width: 100%;
    }
    .board_view_body_1_context{
        background-color: rgba(0, 0, 0, 0.5);
        /* backdrop-filter: blur(3px);  */

        height: 100px;
        width: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0px 0px 10px 10px;
        box-shadow: 0px 0px 5px 0px rgb(0, 0, 0);

        font-size: 12px;
    }

    /*댓글*/
    .board_view_comment{
        background-color: rgba(0, 0, 0, 0.1);
        /* backdrop-filter: blur(1px);  */
        position: absolute;
        height: 400px;
        width: 790px;
        left: 50%;
        transform: translate(-50%);
        margin-top: 620px;

        padding: 5px;
        border-radius: 10px;

        box-shadow: 0px 0px 5px 0px rgb(71, 70, 70), 0px 0px 5px 0px rgb(71, 70, 70);
    }
    .board_view_comment_container{
        position: relative;
        /* background-color: aquamarine; */
        height: 60px;
        width: 770px;
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        margin-left: 10px;
    }

    .board_view_comment_container_1{
        height: 25px;
        width: 650px;
        font-size: 16px;
        color: #ffffff;
        /* background-color: blue; */
    }

    .board_view_comment_container_1_text{
        height: 10px;
        width: 100%;
        font-size: 13px;
        /* background-color: rgb(255, 183, 94); */
    }

    .board_view_comment_container_1_input{
        height: 30px;
        width: 100%;
        font-size: 15px;
        color: #ffffff;
        border: none;
        background: transparent;
        border-bottom: 1px solid #ffffff;
        outline: none;
        margin-top: 10px;
        /* background-color: rgb(255, 183, 94); */

    }

    .board_view_comment_container_2{
        /* background-color: blueviolet; */
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .board_view_comment_container_2_send{
        height: 40px;
        width: 100px;
        background: linear-gradient(135deg, #13074b, #372978, #13074b);
        border-radius: 7px;
        border: none;
        color: #fff;
        font-size: 10px;
        font-weight: bold;
    }
    .board_view_comment_container_2_send:hover{
        background: linear-gradient(135deg, #05001a, #0d0042, #05001a);
        cursor: pointer;
    }

    .board_view_review_container{
        background-color: #0000002b;
        height: 310px;
        width: 750px;
        margin-top: 10px;
        margin-left: 10px;
        border-radius: 5px;
        overflow: auto;
        padding-left: 10px;
        padding-right: 10px;
    }
    .board_view_review_container::-webkit-scrollbar {
        width: 2px;
    }
    .board_view_review_container::-webkit-scrollbar-thumb {
        background-color: #757575;
        border-radius: 10px;
        border: 1px solid transparent;
    }
    .board_view_review_container::-webkit-scrollbar-track {
        border-radius: 50px;
        /* box-shadow: inset 0px 0px 5px rgb(106, 93, 93); */
    }
    .board_view_review_container_list{
        background-color: #0000002b;
        height:50px;
        width: 100%;

        border-radius: 10px;

        margin-top: 10px;
    }
}
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@---------반응형---------@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
@media (max-width: 900px) { /*175 이후*/
    .board_view_container{
        position: fixed;
        background-color: rgba(0, 0, 0, 0.793);
        backdrop-filter: blur(10px); 
        height: 100%;
        width: 100%;
        z-index: 3;
        color: white;
        margin-top: -120px;
        overflow-x:hidden;

    }

    .board_view_container_1{
        position: absolute;
        height: 95%;
        width: 100%;
        /* background-color: rgb(255, 0, 0); */
        margin-top: 20px;
    }

    /*헤더*/
    .board_view_header{
        /* background-color: rgb(255, 0, 0); */
        width: 100%;
        height: 30px;
        display: flex;
        justify-content: space-between;
        
    }
    .board_view_header_container{
        position: relative;
        background-color: rgba(0, 0, 0, 0.5);
        box-shadow: 0px 0px 5px 0px rgb(71, 70, 70);
        width: 270px;
        height: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        border-radius: 5px;
        justify-content: space-between;

    }

    .board_view_header_box1{
        /* background-color: rgb(148, 196, 136); */
        width: 90px;
        height: 30px;
        display: flex;
        justify-content: center;
        margin-left: 5px;
    }

    .board_view_header_title{
        position: absolute;
        height: 20px;
        width: 271px;
        background-color: rgba(255, 255, 255, 0.103); 
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 10px;
        font-weight: bold;
        margin-top: 35px;
        border-radius: 5px;
    }
    .board_view_header_box2{
        /* background-color: rgb(179, 245, 0); */

        width: 175px;
        height: 30px;
        display: flex;
        justify-content: space-evenly;
    }

    .board_view_b1{
        position: relative;
        width: 100%;
        height: 25px;  

        background: linear-gradient(135deg, #13074b, #372978, #13074b);
        border-radius: 5px;
        border: none;
        color: #fff;
        font-size: 10px;
        font-weight: bold;

        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        margin-top: 2.5px;
    }
    .board_view_b1:hover{
        background: linear-gradient(135deg, #05001a, #0d0042, #05001a);
    }

    .board_view_b2{
        position: relative;
        width: 65px;
        height: 25px;  

        background: linear-gradient(135deg, #13074b, #372978, #13074b);
        border-radius: 5px;
        border: none;
        color: #fff;
        font-size: 10px;
        font-weight: bold;

        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        margin-top: 2.5px;
    }
    .board_view_b2:hover{
        background: linear-gradient(135deg, #05001a, #0d0042, #05001a);
    }


    .board_view_b3{
        position: relative;
        width: 65px;
        height: 25px;  

        background: linear-gradient(135deg, #13074b, #372978, #13074b);
        border-radius: 5px;
        border: none;
        color: #fff;
        font-size: 10px;
        font-weight: bold;

        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        margin-top: 2.5px;
    }
    .board_view_b3:hover{
        background: linear-gradient(135deg, #05001a, #0d0042, #05001a);
    }
    .board_view_b4{
        /* background: linear-gradient(135deg, #13074b, #372978, #13074b); */
        height: 20px;
        width: 20px;
        margin-top: 5px;
        margin-left: 5px;
        
    }
    .star{
        width: 100%;
        height: 100%;
        /* box-shadow: 0px 0px 5px 0px rgb(71, 70, 70), 0px 0px 5px 0px rgb(71, 70, 70); */
        cursor: pointer;
    }


    /*바디*/
    .board_view_body{
        background-color: rgba(0, 0, 0, 0.1);
        /* backdrop-filter: blur(1px);  */
        position: absolute;
        height: 295px;
        width: 260px;
        left: 50%;
        transform: translate(-50%);
        margin-top: 40px;

        padding: 5px;
        border-radius: 5px;

        box-shadow: 0px 0px 5px 0px rgb(71, 70, 70), 0px 0px 5px 0px rgb(71, 70, 70);

        /* display: none; */

    }
    .board_view_body_1_hashtag{
        /* background-color: aqua; */
        width: 100%;
        height: 30px;
        overflow: auto;
        cursor: pointer;
    }
    .board_view_body_1_hashtag::-webkit-scrollbar {
        height: 7px;
    }
    .board_view_body_1_hashtag::-webkit-scrollbar-thumb {
        background-color: rgba(255, 255, 255, 0.152);
        border-radius: 10px;
        border: 1px solid transparent;
    }
    .board_view_body_1_hashtag::-webkit-scrollbar-track {
        border-radius: 50px;
        /* box-shadow: inset 0px 0px 5px rgb(106, 93, 93); */
    }
    .board_view_body_1_hashtag_list_container{
        /* background-color: #372978; */
        width: 1200px;
        height: 20px;
        font-size: 10px;
        font-weight: bold;
        display: flex;
        justify-content: space-evenly;
    }
    .board_view_body_1_hashtag_list_container div{
        background-color: rgba(255, 255, 255, 0.072);
        height: 100%;
        width: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
    }

    .board_view_body_1_graph{
        height: 130px;
        width: 100%;
        /* background-color: rgb(0, 179, 255);  */
        margin-top: 5px;
    }
    .board_view_body_1_graph_img{
        height: 100%;
        width: 100%;
    }
    .board_view_body_1_context{
        background-color: rgba(0, 0, 0, 0.5);
        /* backdrop-filter: blur(3px);  */

        height: 130px;
        width: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0px 0px 5px 5px;
        box-shadow: 0px 0px 5px 0px rgb(0, 0, 0);

        font-size: 10px;
    }

    /*댓글*/
    .board_view_comment{
        background-color: rgba(0, 0, 0, 0.1);
        /* backdrop-filter: blur(1px);  */
        position: absolute;
        height: 290px;
        width: 270px;
        left: 50%;
        transform: translate(-50%);
        margin-top: 360px;
        border-radius: 10px;

        box-shadow: 0px 0px 5px 0px rgb(71, 70, 70), 0px 0px 5px 0px rgb(71, 70, 70);
        /* display: none; */
    }
    .board_view_comment_container{
        position: relative;
        /* background-color: aquamarine; */
        height: 35px;
        width: 250px;
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        margin-left: 10px;
    }

    .board_view_comment_container_1{
        height: 20px;
        width: 100%;
        font-size: 10px;
        color: #ffffff;
        /* background-color: blue; */
    }

    .board_view_comment_container_1_text{
        height: 10px;
        width: 100%;
        font-size: 10px;
        /* background-color: rgb(255, 183, 94); */
    }

    .board_view_comment_container_1_input{
        height: 20px;
        width: 98%;
        font-size: 10px;
        color: #ffffff;
        border: none;
        background: transparent;
        border-bottom: 1px solid #ffffff;
        outline: none;
        /* margin-top: 5px; */
        /* background-color: rgb(255, 183, 94); */

    }

    .board_view_comment_container_2{
        /* background-color: blueviolet; */
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .board_view_comment_container_2_send{
        position: absolute;
        height: 30px;
        width: 250px;
        background: linear-gradient(135deg, #13074b, #372978, #13074b);
        border-radius: 7px;
        border: none;
        color: #fff;
        font-size: 10px;
        font-weight: bold;

        margin-top: 70px;
        margin-right: 250px;
    }
    .board_view_comment_container_2_send:hover{
        background: linear-gradient(135deg, #05001a, #0d0042, #05001a);
        cursor: pointer;
    }

    .board_view_review_container{
        background-color: #0000002b;
        height: 200px;
        width: 230px;
        margin-top: 35px;
        margin-left: 10px;
        border-radius: 5px;
        overflow: auto;
        padding-left: 10px;
        padding-right: 10px;
    }
    .board_view_review_container::-webkit-scrollbar {
        width: 2px;
    }
    .board_view_review_container::-webkit-scrollbar-thumb {
        background-color: #757575;
        border-radius: 10px;
        border: 1px solid transparent;
    }
    .board_view_review_container::-webkit-scrollbar-track {
        border-radius: 50px;
        /* box-shadow: inset 0px 0px 5px rgb(106, 93, 93); */
    }
    .board_view_review_container_list{
        background-color: #0000002b;
        height:40px;
        width: 100%;

        border-radius: 10px;

        margin-top: 7px;
    }
}